body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
}
#u3478 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:375px;
  height:667px;
}
#u3479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3480 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:375px;
  height:50px;
}
#u3481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3482 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:75px;
  width:375px;
  height:617px;
  overflow:hidden;
  touch-action:none;
}
#u3482_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:617px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3482_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1046px;
  overflow:hidden;
}
#u3483_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1046px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3483_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u3484 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:43px;
  height:43px;
}
#u3485 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u3486 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:20px;
  width:79px;
  height:16px;
  font-size:13px;
}
#u3487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
}
#u3488 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:38px;
  width:199px;
  height:13px;
  font-size:10px;
  color:#949494;
}
#u3489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u3490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:375px;
  height:4px;
}
#u3491 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
#u3492 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:139px;
  width:333px;
  height:1px;
}
#u3493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3494 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:91px;
  width:87px;
  height:16px;
}
#u3495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u3496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(39, 213, 191, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u3496 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:91px;
  width:31px;
  height:16px;
  font-size:10px;
  color:#FFFFFF;
}
#u3497 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u3498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#949494;
}
#u3498 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:111px;
  width:136px;
  height:13px;
  font-size:10px;
  color:#949494;
}
#u3499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u3500 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:100px;
  width:18px;
  height:16px;
}
#u3501 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3500_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3502 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:156px;
  width:18px;
  height:16px;
}
#u3503 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3502_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3504 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:203px;
  width:18px;
  height:16px;
}
#u3505 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3504_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3506 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:252px;
  width:18px;
  height:16px;
}
#u3507 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3506_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
#u3508 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:188px;
  width:333px;
  height:1px;
}
#u3509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3510 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:156px;
  width:67px;
  height:16px;
}
#u3511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
#u3512 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:235px;
  width:333px;
  height:1px;
}
#u3513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3514 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:203px;
  width:67px;
  height:16px;
}
#u3515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u3516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
#u3516 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:284px;
  width:333px;
  height:1px;
}
#u3517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3518 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:252px;
  width:83px;
  height:16px;
}
#u3519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u3520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:38px;
  background:inherit;
  background-color:rgba(39, 213, 191, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3520 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:315px;
  width:205px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u3521 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:201px;
  word-wrap:break-word;
}
#u3522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:399px;
  width:375px;
  height:4px;
}
#u3523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:443px;
  width:375px;
  height:4px;
}
#u3525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3526 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:415px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u3527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3528 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:409px;
  width:28px;
  height:28px;
}
#u3529 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3530 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:409px;
  width:28px;
  height:28px;
}
#u3531 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u3532 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:409px;
  width:28px;
  height:28px;
}
#u3533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3534 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:416px;
  width:88px;
  height:15px;
  font-size:12px;
}
#u3535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u3536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#434343;
}
#u3536 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:464px;
  width:50px;
  height:16px;
  color:#434343;
}
#u3537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u3538 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:107px;
}
#u3539 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:880px;
  width:74px;
  height:107px;
}
#u3540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:107px;
}
#u3541 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:509px;
  width:74px;
  height:107px;
}
#u3542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:107px;
}
#u3543 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:509px;
  width:71px;
  height:107px;
}
#u3544 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:107px;
}
#u3545 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:632px;
  width:74px;
  height:107px;
}
#u3546 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:107px;
}
#u3547 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:632px;
  width:70px;
  height:107px;
}
#u3548 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:107px;
}
#u3549 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:509px;
  width:72px;
  height:107px;
}
#u3550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:107px;
}
#u3551 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:632px;
  width:73px;
  height:107px;
}
#u3552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:107px;
}
#u3553 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:880px;
  width:73px;
  height:107px;
}
#u3554 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:107px;
}
#u3556 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:755px;
  width:73px;
  height:107px;
}
#u3557 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u3558 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:840px;
  width:58px;
  height:19px;
  font-size:9px;
}
#u3559 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:107px;
}
#u3561 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:755px;
  width:73px;
  height:107px;
}
#u3562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u3563 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:840px;
  width:58px;
  height:19px;
  font-size:9px;
}
#u3564 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3565 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:107px;
}
#u3566 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:755px;
  width:73px;
  height:107px;
}
#u3567 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u3568 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:840px;
  width:58px;
  height:19px;
  font-size:9px;
}
#u3569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:107px;
}
#u3571 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:880px;
  width:73px;
  height:107px;
}
#u3572 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u3573 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:965px;
  width:58px;
  height:19px;
  font-size:9px;
}
#u3574 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3575 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:20px;
  width:16px;
  height:16px;
}
#u3576 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.458823529411765);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:359px;
  width:375px;
  height:40px;
}
#u3578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u3579 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:369px;
  width:1px;
  height:20px;
}
#u3580 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3581 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:372px;
  width:80px;
  height:15px;
  font-size:12px;
}
#u3582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u3583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3583 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:372px;
  width:104px;
  height:15px;
  font-size:12px;
}
#u3584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u3585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u3585 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:75px;
  width:17px;
  height:1px;
}
#u3586 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u3587 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:642px;
  width:17px;
  height:1px;
}
#u3588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#27D5BF;
}
#u3589 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:375px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#27D5BF;
}
#u3590 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u3591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u3591 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:39px;
  width:23px;
  height:23px;
}
#u3592 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:37px;
  background:inherit;
  background-color:rgba(115, 167, 238, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(115, 167, 238, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3594 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:655px;
  width:375px;
  height:37px;
  font-size:12px;
}
#u3595 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3596 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:666px;
  width:360px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
