body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4328_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
}
#u4328 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:375px;
  height:667px;
}
#u4329 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4331 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:81px;
  width:359px;
  height:37px;
}
#u4332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4333 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:92px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u4334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4335 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:97px;
  width:10px;
  height:10px;
}
#u4336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4337 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:95px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u4338 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4340 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:174px;
  width:359px;
  height:37px;
}
#u4341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4342 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:188px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u4343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u4344 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:182px;
  width:31px;
  height:29px;
}
#u4345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4346 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:375px;
  height:50px;
}
#u4347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u4348 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:75px;
  width:17px;
  height:1px;
}
#u4349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u4350 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:553px;
  width:17px;
  height:1px;
}
#u4351 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#27D5BF;
}
#u4352 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:375px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#27D5BF;
}
#u4353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u4354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4354 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:39px;
  width:23px;
  height:23px;
}
#u4355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4356 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:75px;
  width:375px;
  height:1px;
}
#u4357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:2px;
}
#u4358 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:125px;
  width:358px;
  height:1px;
}
#u4359 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4360 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:139px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u4361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:2px;
}
#u4362 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:172px;
  width:358px;
  height:1px;
}
#u4363 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4364 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:144px;
  width:10px;
  height:10px;
}
#u4365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4366 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:254px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u4367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4368 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:364px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u4369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:2px;
}
#u4370 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:397px;
  width:358px;
  height:1px;
}
#u4371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4372 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:515px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u4373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4374 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:520px;
  width:10px;
  height:10px;
}
#u4375 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4376 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:288px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u4377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:2px;
}
#u4378 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:449px;
  width:358px;
  height:1px;
}
#u4379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4380 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:421px;
  width:10px;
  height:10px;
}
#u4381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4382 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:414px;
  width:54px;
  height:24px;
}
#u4383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4384 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:419px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u4385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:2px;
}
#u4386 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:498px;
  width:358px;
  height:1px;
}
#u4387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4388 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:462px;
  width:54px;
  height:18px;
}
#u4389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4390 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:466px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u4391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u4392 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:281px;
  width:31px;
  height:29px;
}
#u4393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u4394 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:247px;
  width:31px;
  height:29px;
}
#u4395 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u4396 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:358px;
  width:31px;
  height:29px;
}
#u4397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4398 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:565px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u4399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u4400 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:570px;
  width:10px;
  height:10px;
}
#u4401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:2px;
}
#u4402 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:548px;
  width:358px;
  height:1px;
}
#u4403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4404 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:325px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u4405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u4406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:29px;
}
#u4406 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:319px;
  width:31px;
  height:29px;
}
#u4407 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:2px;
}
#u4408 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:237px;
  width:358px;
  height:1px;
}
#u4409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#797979;
}
#u4410 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:213px;
  width:333px;
  height:13px;
  font-size:10px;
  color:#797979;
}
#u4411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
#u4412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4413 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:174px;
  width:359px;
  height:37px;
}
#u4414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4415 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:188px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u4416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u4417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4417 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:189px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u4418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
