body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 15px rgba(0, 0, 0, 0.349019607843137);
}
#u3396 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:375px;
  height:667px;
}
#u3397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3398 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:375px;
  height:50px;
}
#u3399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#27D5BF;
}
#u3400 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:375px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#27D5BF;
}
#u3401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3402 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:75px;
  width:375px;
  height:617px;
  overflow:hidden;
  touch-action:none;
}
#u3402_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:617px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3402_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1778px;
  overflow:hidden;
}
#u3403_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:1778px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3403_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:189px;
  background:inherit;
  background-color:rgba(155, 236, 226, 1);
  border:none;
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3404 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:14px;
  width:347px;
  height:189px;
}
#u3405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u3407 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:32px;
  width:48px;
  height:48px;
  font-size:14px;
}
#u3408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3409 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:41px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u3410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3411 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:38px;
  width:22px;
  height:22px;
  font-size:14px;
}
#u3412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u3413 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:61px;
  width:104px;
  height:14px;
  font-size:11px;
  color:#FFFFFF;
}
#u3414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u3415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  background:inherit;
  background-color:rgba(39, 213, 191, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3415 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:158px;
  width:90px;
  height:27px;
  color:#FFFFFF;
}
#u3416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u3417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#6B6B6B;
}
#u3417 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:21px;
  width:68px;
  height:13px;
  font-size:10px;
  color:#6B6B6B;
}
#u3418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u3419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#434343;
}
#u3419 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:222px;
  width:50px;
  height:16px;
  color:#434343;
}
#u3420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u3421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:107px;
}
#u3422 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:633px;
  width:74px;
  height:107px;
}
#u3423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:107px;
}
#u3424 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:262px;
  width:74px;
  height:107px;
}
#u3425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:107px;
}
#u3426 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:262px;
  width:71px;
  height:107px;
}
#u3427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:107px;
}
#u3428 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:385px;
  width:74px;
  height:107px;
}
#u3429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:107px;
}
#u3430 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:385px;
  width:70px;
  height:107px;
}
#u3431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:107px;
}
#u3432 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:262px;
  width:72px;
  height:107px;
}
#u3433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:107px;
}
#u3434 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:385px;
  width:73px;
  height:107px;
}
#u3435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:107px;
}
#u3436 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:633px;
  width:73px;
  height:107px;
}
#u3437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:107px;
}
#u3439 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:508px;
  width:73px;
  height:107px;
}
#u3440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u3441 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:593px;
  width:58px;
  height:19px;
  font-size:9px;
}
#u3442 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:107px;
}
#u3444 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:508px;
  width:73px;
  height:107px;
}
#u3445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u3446 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:593px;
  width:58px;
  height:19px;
  font-size:9px;
}
#u3447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3448 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:107px;
}
#u3449 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:508px;
  width:73px;
  height:107px;
}
#u3450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u3451 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:593px;
  width:58px;
  height:19px;
  font-size:9px;
}
#u3452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:107px;
}
#u3454 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:633px;
  width:73px;
  height:107px;
}
#u3455 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u3456 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:718px;
  width:58px;
  height:19px;
  font-size:9px;
}
#u3457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u3458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3458 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:164px;
  width:126px;
  height:16px;
  color:#FFFFFF;
}
#u3459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u3460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#27D5BF;
}
#u3460 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:100px;
  width:35px;
  height:17px;
  font-size:11px;
  color:#27D5BF;
}
#u3461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u3462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:3px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#27D5BF;
}
#u3462 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:107px;
  width:162px;
  height:3px;
  font-size:11px;
  color:#27D5BF;
}
#u3463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:3px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#27D5BF;
}
#u3464 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:107px;
  width:77px;
  height:3px;
  font-size:11px;
  color:#27D5BF;
}
#u3465 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#27D5BF;
}
#u3466 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:100px;
  width:35px;
  height:17px;
  font-size:11px;
  color:#27D5BF;
}
#u3467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u3468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u3468 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:102px;
  width:56px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u3469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u3470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u3470 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:75px;
  width:17px;
  height:1px;
}
#u3471 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
}
#u3472 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:642px;
  width:17px;
  height:1px;
}
#u3473 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#27D5BF;
}
#u3474 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:25px;
  width:375px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#27D5BF;
}
#u3475 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u3476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u3476 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:39px;
  width:23px;
  height:23px;
}
#u3477 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
